@import './global/global.css';
@import './global/header.css';
@import './global/footer.css';

.containerID{
    display: grid;
    border: none;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: calc(100% - 16px);
    margin: 5px;
}

.first_contID{
    border: 8px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: calc(90% - 16px);
    margin: 5px;
}
.content{
    border-radius: 15px;
    width: 80%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.content::before {
    content: "" ;
    position: absolute;
    background-color: #288397; 
}

.first_divID{
    display: flex;
}

.first_rowID {
    text-align: center;
    flex: 0 auto;
}

.second_rowID {
    flex: 2 0 auto;

}

.list social__media {
    display: flex;

}

.form {
    display: flex;
    flex-direction: column;
}

.second__content{
    position: absolute;
    display: none;
}



