@import url(global/header.css);
@import url(global/footer.css);
@import url(global/global.css);

:root {
    --cor-fundo: #FFFF;
    --cor-principal: #086478;
    --laranja: #FBA728;
    --roxo: #892172;
}


body{
    background-color: var(--cor-fundo);
    font-weight: 500;
}


.img {
    height: auto;
    width: 100%;
}

.banner {
    padding: 16px;
}

.categorias__titulo {
    text-align: center;
    color: var(--cor-principal);
    font-size: 30px;
}

.categorias__lista{
    display: flex;
    justify-content: space-between;
    padding: 4em;
}

.categorias__item {
     list-style-type: none;
}


.img-noticias {
    width: 100%;
    align-items: center;
}

.noticias {
    text-align: center;
    color: var(--cor-principal);
    font-size: 30px;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    align-items: center;
}
.noticias__quadrado {
    width: 240px;
    stroke-width: 1px;
    stroke: #5C5C5C;
    height: 182px;
    background-color: #4F838F;
}

.noticias__quadrado2 {
    width: 239px;
    border: 1px solid;
    stroke-width: 1px;
    height: 85px;
}

.noticias_mais {
    color: var(--cor-principal);
    font-size: 26px;
}

