@import './global/global.css';
@import './global/header.css';
@import './global/footer.css';

#título{
  display: flex;
  margin-left:50px;
  margin: 20px;
  padding: 20px;
  color: #288397;
}


  .carrossel {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .carrossel-container {
    display: flex;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    flex: 0 0 100%;
 }
  
  
  img {
    width: 100%;
    height: auto;
  }
  
  /* Adicione estilos para as setas */
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #333;
    cursor: pointer;
  }
  
  .left-arrow {
    left: 0;
  }
  
  .right-arrow {
    right: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin: 2rem;
   
  }

  .busca {
    background-color: #288397;
    padding: 18px;
    display: flex;
    width: 450px;
    gap: 10px;
    border-radius: 10PX;
  }

  #residuo{
    border: none;
    border-radius: 5px;
    padding: 5PX;
  }

  #cidade{
    border: none;
    border-radius: 5px;
    padding: 5px; 
  }

  #btn{
    background-color: #FFF;
    width: 500px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    }

  .resultado {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #333; /* Cor do texto dos resultados */  
  }

  .resultado ol {
    list-style-type: none;
    padding-left: 20px;
    margin: 0;
    list-style-type: none;
  } 
